<div id="parrafo">
    <p class="indicator">PANTALLA DE VENTAS</p>				
</div>
<div id="salesContainer">
    <div class="imageCard">
        <img id="imageSales"> 
    </div>
    <div id="infoDiv">
        <aside id="titleinfo">
        </aside>
        <aside id="authorinfo">
        </aside>
        <aside id="amountinfo">
        </aside>
        <aside id="priceinfo">
        </aside>
        <button id="btnSub" class="btn3">-1</button>
        <h2 id="quantity"></h2>
        <button id="btnAdd" class="btn3">+1</button>
        <div id="paymentButtonContainer"><button id="btnPayment">Realizar Pago</button></div>
    </div>    
    <div id="qtyMangas">
    </div>
</div>

