<link rel="stylesheet" type="text/css" href="./src/css/home.css">
<div id="paragraphHome">
	<p class="indicatorHome">PUNTO DE VENTA</p>		
		<input type="submit" id="btnModifyInventory" class="btnModifyInventory" value="Modificar Stock">
</div>
<div id="divformulario">
	<form id="id" class="formulario" >
		<p class="pform">Buscar Manga<p>
		<input autocomplete="off" type="text" id="input" class="datos" pattern="[A-Za-z\s/-/´/'/]+" required placeholder="Escribe el titulo del Manga..." ><br>
		
		<input type="submit" value="Buscar" id="btn">
	
	<ul id="lista">
		<li id="li"></li>
	</ul>

	<div class="card">
		<img id="imagen"> 
	</div>
	    <input type="submit" id="btn1" class="btn1" style="display: none;" value="Comprar">
	    <input type="submit" id="btn2" class="btn2" style="display: none;" value="Añadir a la bolsa">
	</form>
</div>




