<link rel="stylesheet" type="text/css" href="./src/css/modifyInventory.css">
<div id="parrafo2">
	<p class="indicator">INVENTARIO</p>				
</div>

<div id="codeSender">
	<p>Código de manga a modificar : </p>
	<input type="number" id="inputModify" pattern="[^0-9]" title="4 to 8 lowercase letters">
	<button id="buttonModify" class="codeSender2">Modificar</button>
</div>

<div id="divformulario">

	<table id="table">
		<tr>
			<th>Código</th>
			<th>Nombre</th>
			<th>Precio</th>
			<th>Stock</th>
		</tr>
	</table>

</div>
