a{
	text-decoration: none;	

}

.addCart{
	background-color: #15b101;
    box-sizing: border-box;
    padding-left: 1%;
    padding-right: 1%;
    color: white;
    font-family: my5Font;
    font-size: 100%;
    margin-top: -2.40%;
	padding: 1%;
	height: 1px;
    text-align: center;
}

.addCart p{
	margin-top: -9px;
}

aside{
	font-size: 180%;
	font-family: my5Font;
	margin-bottom: 15px;
}

body{
	background-image: url("../img/fondo.jpg");
	background-size: 100%;
}

#btn{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	outline: none;
	width: 18%;
}

.btn1{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	margin-right: 8%;
    margin-top: 3%;
	outline: none;
	width: 18%;
}

.btn2{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 60%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	outline: none;
	width: 18%;

}

.btn3{
	background-color: #eaea2a;
    cursor: pointer;
	font-family: my5Font;
	font-weight: bold;
	height: 30px;
	margin-right: 2%;
	outline: none;
    width: 40px;
}

#btnPayment{	
	background-color: #15b101;
	color: white;
	cursor: pointer;
	font-family: my5Font;
	font-size: 96%;
	padding: 8px;
	width: 16%;
	margin-top: 169%;
}

.container{
	margin: 0 auto;
	width: 85%;
}

._container{
	margin: 0 auto;
    width: 38%;
}

.datos{
	background-color: rgb(77,77,77, .7);
	border-color: #02d7f2;
	color: white;
	font-size: 70%;
	height: 25px;
	margin-bottom: 1.5%;
	outline: none;
	padding-left: 22px;
	width: 30%;
}

._dinamicInfo{
	padding-left: 8vw;
}

._dinamicInfoData{
	padding-left: 12vw;
}

._descriptionInfo{
    padding-right: 3vw;
	padding-left: 1vw;
}

#divformulario{
	box-sizing: border-box; 
	background-size: 100%;
	box-sizing: border-box; 
	font-size: 180%;
	font-family: my5Font;
	padding: 2%;
	text-align: center;
	width: 100%;
}

footer{
	background-color: rgb(234, 234, 42, .7);
	color: black;
	font-family: my5Font;
	font-size: 150%;
	margin-top: 10%;
	min-height: 4vh;
	position: absolute;
	text-align: center;
    width: 98.8%;
}

header{
	background-color: #eaea2a;
	font-size: 300%;
	font-family: my2Font;
	min-height: 9vh;
	text-align: center;
	cursor: pointer;
}

#imagen{
	height: 10%;
	object-fit: cover;
	width: 15%;
}

.imageCard{
	display: contents;
}

#imageSales{
	display: inline-block;
	height: 55vh;
	margin-right: 4%;
	object-fit: cover;
}

.indicator{
	color: white;
	font-family: my5Font;
	font-size: 150%;
	margin-top: -1.2%;
    padding: 1%;
	text-align: center;
}

#infoDiv{
	display: inline-block;
    vertical-align: top;
}

label{
	color: #02d7f2;
}

.mangaData{
	background-color: white;
	display: inline;
}

#mangaFocused{
	background-color: #eaea2a;
    cursor: pointer;
	font-family: my5Font;
	font-weight: bold;
	height: 30px;
	margin-right: 2%;
	outline: none;
    width: 5%;
}

.main{
	box-sizing: border-box; 
	color: white;
	min-height: calc(75vh - 4vh - 9vh);
	padding-top: 1%;
}

#movible{
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 300px; 
	margin-top: -2.2%;
	width: 100%;
}

#parrafo{
	background-color: #ff52a8;
	box-sizing: border-box;
	padding-left: 1%;
	padding-right: 1%;
}

#paymentButtonContainer{
    writing-mode: vertical-rl;
}

#salesContainer{
	margin: 0 auto;
	margin-top: 3%;
	width: 80%;
}

.separador{
	font-family: my5Font;
	font-size: calc(0.2em + 1vw);
	padding-bottom: 10px;
}

td, th{
	padding-right: 40px;
	padding-bottom: 10px;
	font-family: my5Font;
	font-size: calc(0.2em + 1vw);
}

#quantity{
	box-sizing: border-box;
	display: inline-block;
	font-family: 'my5Font';
	font-size: 120%;
	margin-right: 2%;
}

ul{
	list-style: none;
}

@font-face{
	font-family: my1Font;
	src: url("../fonts/cyberverse/Cyberverse Bold.otf");
}

@font-face{
	font-family: my2Font;
	src: url("../fonts/cyberway_riders/Cyberway Riders.otf");
}

@font-face{
	font-family: my3Font;
	src: url("../fonts/dark_future/Dark Future Italic.ttf");
}

@font-face{
	font-family: my4Font;
	src: url("../fonts/futurepaint/FuturePaint.ttf");
}

@font-face{
	font-family: my5Font;
	src: url("../fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf");
}

