.btnModifyInventory{
	background-color: #70ea2a;
	border-color: #2d2aea;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
    margin-top: 3%;
	outline: none;
	width: 18%;
}

.paragraphHome{
	background-color: #70ea2a;
	border-color: #2d2aea;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
    margin-top: 3%;
	outline: none;
	width: 18%;
}

#btn{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	outline: none;
	width: 18%;
}

.btn1{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 70%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	margin-right: 8%;
    margin-top: 3%;
	outline: none;
	width: 18%;
}

.btn2{
	background-color: #eaea2a;
	border-color: #eaea2a;
	color: black;
	cursor: pointer;
	font-size: 60%;
	font-family: my5Font;
	height: 40px;
	margin-top: 1%;
	outline: none;
	width: 18%;

}



#divformulario{ /*ESTA EN HOME*/
	box-sizing: border-box; 
	background-size: 100%;
	box-sizing: border-box; 
	font-size: 180%;
	font-family: my5Font;
	padding: 2%;
	text-align: center;
	width: 100%;
}

#imagen{
	height: 10%;
	object-fit: cover;
	width: 15%;
}

.indicatorHome{
	margin-left: 30%;
	color: white;
	font-family: my5Font;
	font-size: 150%;
	text-align: center;
}

#paragraphHome{
	display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
	background-color: #ff52a8;
	box-sizing: border-box;
	margin-top: -9px;
	padding-left: 1%;
	padding-right: 1%;
}

